.jumbotron.masthead {
	background-color: #1D77B1; 
	background-image: none;
}

.btn {
	font-family: @sansFontFamily;
	border: 1px solid double;
	-moz-box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
	-webkit-box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
	box-shadow:inset 0px 0px 1px rgba(187,187,187,1);
	background-image: -o- none;
	background-image: -moz- none;
	background-image: -webkit- none;
	background-image: -ms- none;
	background-image: none;
	-webkit-transition: all .2s ease-in-out !important;
	-moz-transition: all .2s ease-in-out !important;
	-o-transition: all .2s ease-in-out !important;
	transition: all .2s ease-in-out !important;
}

.btn:hover {
	background-color: #6dafe8;
	-webkit-transition: all .2s ease-in-out !important;
	-moz-transition: all .2s ease-in-out !important;
	-o-transition: all .2s ease-in-out !important;
	transition: all .2s ease-in-out !important;
}