.jumbotron.masthead {
	background-color: @amicusBlue; 
	background-image: none;
}

.people {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.person {
  width: 320px;
  height: 50px;
  list-style-type: none;
  background-color: #f6f6f6;
  border-top: 1px solid white;
  border-bottom: 1px solid #d4d4d4;
  .statusPLACEHOLDER {
    float: left;
    margin: 18px 10px 0px 10px;
  }
  .picture {
    float: left;
    margin: 7px 18px 0px 0px;
    border: 1px solid #d5d5d5;
  }
  .name_city_state {
    float: left;
    width: 215px;
    height: 50px;
    .name {
      margin: 10px 0 0 0;
      font-weight: bold;
      line-height: 16px;
    }
    .city_state {
      margin: 0 0 0 0;
      font-size: 10px
    }
  }
  .icon {
    display: none;
  }
}

.active {
  box-shadow: inset 0px 0px 20px 0px rgba(212, 212, 212, .8);  
  .icon {
    display: block;
  }
}

body {
  background-color: @newAmicusLtGray;
}

.main_bar {
  height: 55px;
  background-color: @newAmicusGreen;
  margin-top: 15px;
  a{
    &:hover { text-decoration: none;}
    h1{
      text-align: center;
      font-size: 19px;
      color: white;
    }
  }
  .selection_chevron {
    top: 137px;
    left: 1130px;
    position: absolute;
  }
}

.secondary_bar {
  min-height: 6px;
  background-color: @newAmicusDarkGray;
  a {
    &:hover { text-decoration: none;}
    h2{
      text-align: center;
      font-size: 16px;
      color: white;
      line-height: 1;
      text-transform: capitalize;
    }
  }
  .active{
    background-color: @newAmicusNavyBlue;
    box-shadow: none;
    display: block;
    border-radius: 20px;

    h2 {
      margin: 5px 0px 10px 0px;
      padding: 5px 0px 5px 0px;
    }
  }
  .row { height: 43px; }
}

.m_head {
  .btn {
    text-transform: none;
    background-image: none;
    background-color: none;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    &:hover {
      border-radius: 0px;
    }
    .caret { margin-left: 5px}

    .level_box {
      color: white;
      display: inline;
      font-weight: bold;
      border-radius: 3px;
      padding: 2px 6px 2px 6px;
      background-color: @newAmicusGreen;
    }
  }
}

.content_image {
  margin: 30px auto 0px auto;
}

.bigdiv {
  width: 100%;
  text-align: center;
}
